/.DS_Store
/Email-clean.csv
/FinalPractice-send-mail.py
/Flask-test.py
/button-send-email.py
/email_venv
/env_vars.py
/html-news-send-email.py
/htmlpython.py
/idk.py
/input.html
/jpg2-send-email.py
/mass-send-email.py
/multi-send-email.py
/pdf-send-email.py
/pic-send-email.py
/polar_bear.jpg
/polar_bear2.jpg
/resume.pdf
/send-email.py
/simple.html
/test-send-mail.py
/tkint.py